[Unit]
Description=Waydroid container

[Service]
ExecStart=/usr/bin/waydroid container start
ExecStop=/usr/bin/waydroid container stop
ExecStopPost=/usr/bin/waydroid session stop

[Install]
WantedBy=multi-user.target
